<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>user_Interface.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>JEE_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>user_Interface.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightBookingServlet</display-name>
    <servlet-name>FlightBookingServlet</servlet-name>
    <servlet-class>user_Interface.FlightBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightBookingServlet</servlet-name>
    <url-pattern>/FlightBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationDisplayServlet</display-name>
    <servlet-name>ReservationDisplayServlet</servlet-name>
    <servlet-class>adminPanel.ReservationDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationDisplayServlet</servlet-name>
    <url-pattern>/ReservationDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientDisplayServlet</display-name>
    <servlet-name>ClientDisplayServlet</servlet-name>
    <servlet-class>adminPanel.ClientDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientDisplayServlet</servlet-name>
    <url-pattern>/ClientDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientDeleteServlet</display-name>
    <servlet-name>ClientDeleteServlet</servlet-name>
    <servlet-class>adminPanel.ClientDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientDeleteServlet</servlet-name>
    <url-pattern>/ClientDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFlightServlet</display-name>
    <servlet-name>AddFlightServlet</servlet-name>
    <servlet-class>adminPanel.AddFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFlightServlet</servlet-name>
    <url-pattern>/AddFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHotelServlet</display-name>
    <servlet-name>AddHotelServlet</servlet-name>
    <servlet-class>adminPanel.AddHotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHotelServlet</servlet-name>
    <url-pattern>/AddHotelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCarServlet</display-name>
    <servlet-name>AddCarServlet</servlet-name>
    <servlet-class>adminPanel.AddCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCarServlet</servlet-name>
    <url-pattern>/AddCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarBookingServlet</display-name>
    <servlet-name>CarBookingServlet</servlet-name>
    <servlet-class>CarBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarBookingServlet</servlet-name>
    <url-pattern>/CarBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelBookingServlet</display-name>
    <servlet-name>HotelBookingServlet</servlet-name>
    <servlet-class>user_Interface.HotelBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelBookingServlet</servlet-name>
    <url-pattern>/HotelBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdddFlightServlet</display-name>
    <servlet-name>AdddFlightServlet</servlet-name>
    <servlet-class>user_Interface.AddFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdddFlightServlet</servlet-name>
    <url-pattern>/AdddFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>booking</display-name>
    <servlet-name>booking</servlet-name>
    <servlet-class>user_Interface.booking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>booking</servlet-name>
    <url-pattern>/booking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingServlet</display-name>
    <servlet-name>BookingServlet</servlet-name>
    <servlet-class>user_Interface.BookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingServlet</servlet-name>
    <url-pattern>/BookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalFlightBooking</display-name>
    <servlet-name>FinalFlightBooking</servlet-name>
    <servlet-class>user_Interface.FinalFlightBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalFlightBooking</servlet-name>
    <url-pattern>/FinalFlightBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLoginServlet</display-name>
    <servlet-name>CheckLoginServlet</servlet-name>
    <servlet-class>user_Interface.CheckLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginServlet</servlet-name>
    <url-pattern>/CheckLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CollectInfosFromDBServlet</display-name>
    <servlet-name>CollectInfosFromDBServlet</servlet-name>
    <servlet-class>adminPanel.CollectInfosFromDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectInfosFromDBServlet</servlet-name>
    <url-pattern>/CollectInfosFromDBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReservationServlet</display-name>
    <servlet-name>DeleteReservationServlet</servlet-name>
    <servlet-class>adminPanel.DeleteReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReservationServlet</servlet-name>
    <url-pattern>/DeleteReservationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteClientServlet</display-name>
    <servlet-name>DeleteClientServlet</servlet-name>
    <servlet-class>adminPanel.DeleteClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteClientServlet</servlet-name>
    <url-pattern>/DeleteClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addHotelServlet</display-name>
    <servlet-name>addHotelServlet</servlet-name>
    <servlet-class>adminPanel.AddHotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addHotelServlet</servlet-name>
    <url-pattern>/addHotelServlet</url-pattern>
  </servlet-mapping>
</web-app>