* {
  box-sizing: border-box;
}
body {
  background: #f5f5f5;
}
.container {
  width: 600px;
  height: 240px;
  margin: 0 auto;
  position: relative;
}
.circle-loader-wrap {
  margin: 0 auto;
  overflow: hidden;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  transform: rotate(180deg);
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.circle-loader-wrap:after {
  content: "";
  position: absolute;
  z-index: 4;
  left: 10px;
  top: 10px;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: #f5f5f5;
  transform: translateZ(1000px);
  transform-style: preserve-3d;
}
.circle-loader-wrap div {
  overflow: hidden;
  position: absolute;
  width: 50%;
  height: 100%;
}
.circle-loader-wrap .circle-loader-wrap-background {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  width: 99%;
  height: 99%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #42a2f6, #025dad);
}
.circle-loader-wrap .semicircle {
  position: absolute;
  z-index: 0;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 1000px;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0.75s;
  animation-fill-mode: forwards;
}
.circle-loader-wrap .semicircle--pre {
  z-index: 1;
  background-color: #fff;
}
.circle-loader-wrap .semicircle--post {
  z-index: 2;
  background-color: #f5f5f5;
}
.circle-loader-wrap .left-wrap {
  left: 0;
}
.circle-loader-wrap .left-wrap .semicircle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transform-origin: 0 50% 0;
}
.circle-loader-wrap .left-wrap .semicircle--pre {
  animation-name: loading-left--pre;
  animation-timing-function: cubic-bezier(0.8, 0.05, 1, 1);
  transform: rotate(-180deg);
}
.circle-loader-wrap .left-wrap .semicircle--post {
  animation-name: loading-left--post;
  animation-delay: 3.25s;
  animation-timing-function: cubic-bezier(0.8, 0.05, 1, 1);
  transform: rotate(0deg);
}
.circle-loader-wrap .right-wrap {
  left: 50%;
}
.circle-loader-wrap .right-wrap .semicircle {
  left: -100%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  transform-origin: 100% 50% 0;
}
.circle-loader-wrap .right-wrap .semicircle--pre {
  animation-name: loading-right--pre;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1.01);
  transform: rotate(-180deg);
}
.circle-loader-wrap .right-wrap .semicircle--post {
  animation-name: loading-right--post;
  animation-delay: 3.25s;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1.01);
  transform: rotate(0deg);
}
.text-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  font-family: MetaOT, sans-serif;
  font-weight: normal;
  text-align: center;
}
.text-wrap .text-container {
  opacity: 0;
  position: relative;
}
.text-wrap .text-container--one {
  top: 30px;
  animation-name: fade-up-in, fade-up-out;
  animation-duration: 0.75s, 0.5s;
  animation-delay: 0s, 2.75s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.text-wrap .text-container--two {
  top: 10px;
  animation-name: fade-up-in--check, move-up--check;
  animation-duration: 0.5s, 0.6s;
  animation-delay: 2.75s, 5.25s;
  animation-fill-mode: forwards;
  animation-timing-function: ease, ease-out;
}
.text-wrap .text-container--three {
  top: 30px;
  animation-name: fade-in, move-up--confirmation;
  animation-duration: 0.6s;
  animation-delay: 5.25s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.9, 0, 1, 1), ease-out;
}
.text-wrap .optimizing {
  font-weight: 500;
  font-size: 14px;
  color: #818181;
}
.text-wrap .name {
  font-size: 24px;
  font-weight: 500;
  color: #000;
}
.text-wrap .confirmation {
  font-size: 38px;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 15px;
  color: #212c5e;
}
.text-wrap .confirmation-subtitle {
  color: #818181;
  font-size: 17px;
  font-weight: 500;
  line-height: 1;
}
.check-mark {
  position: relative;
  transform: rotate(-45deg);
  display: inline-block;
  left: -8px;
}
.check-mark:before,
.check-mark:after {
  content: "";
  background-color: #212c5e;
  display: block;
  border-radius: 2px;
}
.check-mark:before {
  width: 7px;
  height: 23px;
}
.check-mark:after {
  position: absolute;
  width: 37px;
  height: 7px;
  bottom: 0;
}
@keyframes loading-left--pre {
  0% {
    transform: rotate(-180deg);
  }
  50%,
  100% {
    transform: rotate(0deg);
  }
}
@keyframes loading-right--pre {
  0%,
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes loading-left--post {
  0% {
    transform: rotate(0deg);
  }
  50%,
  100% {
    transform: rotate(180deg);
  }
}
@keyframes loading-right--post {
  0%,
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-up-in {
  from {
    opacity: 0;
    top: 30px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
@keyframes fade-up-in--check {
  from {
    opacity: 0;
    top: 10px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
@keyframes fade-up-out {
  from {
    opacity: 1;
    top: 0px;
  }
  to {
    opacity: 0;
    top: -10px;
  }
}
@keyframes move-up--confirmation {
  from {
    top: 60px;
  }
  to {
    top: 19px;
  }
}
@keyframes move-up--check {
  from {
    top: 0px;
  }
  to {
    top: -40px;
  }
}
